---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="my-20">
    <div class="container mx-auto flex flex-col">
      <h1
        class="text-center text-3xl md:text-5xl font-logo text-transparent bg-clip-text bg-gradient-to-r from-teal-800 to-emerald-400"
      >
        Our Why?
      </h1>
      <div
        class="text-gray-900 max-w-[80%] text-center mt-10 space-y-10 mx-auto flex flex-col text-xl"
      >
        <p class="leading-relaxed">
          At EduWisely, we believe that education is a fundamental right and a
          powerful catalyst for personal and societal growth. However, many face
          barriers such as lack of access to quality resources, guidance, and
          support. We created EduWisely to break down these barriers and ensure
          that everyone, regardless of their background or circumstances, has
          the opportunity to succeed.
        </p>

        <p class="leading-relaxed">
          Our platform is designed to democratize education by providing free,
          comprehensive resources and personalized guidance. We aim to empower
          learners to reach their full potential, foster a love for lifelong
          learning, and create a more equitable and knowledgeable society.
          Through EduWisely, we strive to make education accessible, effective,
          and enjoyable for all.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
